@import '~bootstrap/scss/bootstrap';

*{
  font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

html, body {
  //background-color: rgb(40, 39, 102);
  background-color: rgb(72, 70, 184);
  color: white;
}

label{
  color: black;
}

a{
  color: rgb(144, 142, 255)
}